.clickBtn {
    margin: 35px 0 10px 0;
    color: white;
    background-color: rgb(52, 158, 140);
    width: 150px;
    border: 1px solid rgb(52, 158, 140);
    border-radius: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.newDayBtn {
    margin: 10px 0 15px 0;
    color: white;
    background-color: rgb(52, 158, 140);
    width: 150px;
    border: 1px solid rgb(52, 158, 140);
    border-radius: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}