.habits-nav {
    display: block;
    width: 100%;
}

.all-habits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results-container {
    width: 300px;
    background-color: rgb(124, 212, 201);
    border: 1px solid rgb(124, 212, 201);
    margin: 20px;
    border-radius: 1rem;
}

.title, .streak {
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.streak {
    font-size: 18px;
}

.habit-title {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}