#register-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    background-color:  rgb(124, 212, 201);
    border: 1px solid rgb(124, 212, 201);
    border-radius: 1rem;
}

.create{
    text-align: center;
}

input {
    margin: 5px;
    padding: 10px;
    border-radius: 1rem;
    border: solid 1px rgb(175, 175, 175);
}

[type="submit"] {
    width: 80px;
    margin: 5px auto;
}

.register {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 50px 0;
}

.register-text, .login-link {
    text-align: center;
    margin: 20px 0;
}

.logo{
    background-color: rgb(124, 212, 201);
    font-size: 16px;
    padding: 10px;
    color: white;
}